<nav class="menu">

  <a routerLink="/home" class="logo">
    ClimbConnect
  </a>

  <div class="actions">

    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="action-item">
      Home
    </a>

    <a
      routerLink="/areas"
      routerLinkActive="active"
      class="action-item">
      Areas
    </a>

    <a
      routerLink="/climbers"
      routerLinkActive="active"
      class="action-item">
      Kletterer
    </a>

    @if (isAdmin) {
      <a
        routerLink="/admin"
        routerLinkActive="active"
        class="action-item">
        Admin
      </a>
    }

    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="action-item">
      Profile
    </a>

    @if (!authenticated) {

      <a
        routerLink="/login"
        routerLinkActive="active"
        class="action-item">
        Login
      </a>

      <a
        routerLink="/register"
        routerLinkActive="active"
        class="action-item">
        Register
      </a>

    } @else {

      <button class="action-item logout-btn" type="button" (click)="logout()">
        Logout
      </button>

    }

  </div>

</nav>