.hero {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );

  color: white;
}

.hero-content {
  text-align: center;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;

  color: #f97316;
}

.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 24px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-primary {
  background: #f97316;
  color: white;
}

.btn-secondary {
  border: 1px solid white;
  color: white;
}